html {
    height: 100%;
}


.error {
    display: flex;
}

.errorPicture {
    width: 30%;
    left: 0;
    text-align: center;
    position: absolute;
    bottom: 0;
}
.errorPicture img {
    width: 200%;
    display: block;
}

.errorText {
    position: absolute;
    width: 60%;
    right: 0;
    text-align: center;
    font-family:monospace;
}

h1 {
    font-size: 80px;
}

p {
    font-size: 25px;
    font-weight:bolder;
}

.errorText p {
    text-align: center;
}

button {
  all: unset;
  position: absolute; right: 25%; bottom: 60%; 
  width: 100px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-family: monospace;
}

button::after,
button::before {
  content: '';
  position: absolute;
  z-index: -99999;
}

button::before {
  width: 100%;
  height: 100%;
  background: #28282d;
  border-radius: 10px;
}
