@import url("https://fonts.googleapis.com/css?family=Amatic+SC:400,700");
html {
    scroll-padding-top: 79px;
    overflow-y: scroll; 
    -ms-overflow-style: none;
    scrollbar-width: none;
}
html ::-webkit-scrollbar {
    display: none;
}

body {
    padding-left: 5%;
    padding-right: 5%;
}

header {
    display: flex;
    background-color: rgb(224, 224, 224);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    height: fit-content;
}

.header {
    padding-left: 8%;
    visibility: hidden;
    width: 47%;
}

.header img {
    width: 30%;
}

a {
    text-decoration: none;
    color: #000000;
}

.hardware a {
    color: blue;
}

.hardware a:visited {
    color: purple;
}

.link {
    color: blue;
    text-decoration: underline;
}

.link:visited {
    color: purple;
}

nav {
    position: absolute;
    right: 0;
    height: 100%;
    text-align: center;
    align-content: center;
    display: grid;
}

nav ul {
    list-style: none;
    width: 102%;
    text-align: center;
}

.navButton {
    display: inline-block;
    padding: 7px;
    font-family: 'Amatic SC', sans-serif;
    color:black;
    font-size: 2.5vw;
    margin: 0 15px;
    transition: 300ms;
    border-radius: 30px;
    text-align: center;
}

.navButton:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.title {
    display: flex;
    margin-bottom: 3%;
    position: relative;
    z-index: 4;
    width:75%;
}

.greeting {
    position: relative;
    margin-top: 8%;
    width: 50%;
    font-family: 'Amatic SC', sans-serif;
    font-size: 300%;
    z-index: 1;
}

.titleText {
    height: 100%;
}

.title p {
    height: 100%;
    font-size: 100%;
}

.title img {
    width: 35%;
    height: 35%;
    position: relative;
    z-index: 1;
}

.aboutMe {
    display: flex;
    margin-bottom: 5%;
}

.aboutMeText {
    float: left;
    width: 60%;
}


.aboutMePicture {
    float: right;
    width: 30%;
    margin-bottom: 6%;
}

.aboutMePicture img {
    width: 50%;
    float: right;
}

p {
    font-family: 'Amatic SC', sans-serif;
    font-size: 2vw;
}

.subtitle {
    text-align: center;
    font-family: 'Amatic SC', sans-serif;
    font-size: 3vw;
    margin-right: 2.5%;
    margin-top: 0%;
    margin-bottom: 2%;
    scroll-margin-top: 1rem;
}

.text {
    margin-left: 5%;
    font-size: 1.8vw;
}

h2 {
    font-family: 'Amatic SC', sans-serif; 
    margin-bottom: -1%;
    font-size: 2vw;
}

.date {
    float: left;
    font-size: 1.5vw;
}

.optionText{
    font-size: 2.5vw;
    margin-top: 0;
} 

* {
    box-sizing: border-box;
}
  

.terminal_container {
    width: 40%;
    height: 50%;
    position: absolute;
    top: 0;
    margin-left: 3%;
    margin-top: 10%;

}

.terminal_container_right {
    width: 40%;
    height: 50%;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 3%;
    margin-top: 10%;

}
  
.terminal_toolbar {
    display: flex;
    height: 10%;
    align-items: center;
    padding: 0 10px;
    box-sizing: border-box;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: linear-gradient(#504b45 0%, #3c3b37 100%);
}
  
.butt {
    display: flex;
    align-items: center;
}
  
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-right: 5px;
    height: 12px;
    width: 12px;
    box-sizing: border-box;
    border: none;
    border-radius: 100%;
    background: linear-gradient(#7d7871 0%, #595953 100%);
    text-shadow: 0px 1px 0px rgba(255,255,255,0.2);
    box-shadow: 0px 0px 1px 0px #41403A, 0px 1px 1px 0px #474642;
}
  
.btn-color {
    background: #ee411a;
}
  
.btn:hover {
    cursor: pointer;
}
  
.btn:focus {
    outline: none;
}
  
.butt--exit {
    background: linear-gradient(#f37458 0%, #de4c12 100%);
}
  
.user {
    color: #d5d0ce;
    margin-left: 1%;
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
}
  
.terminal_body {
    background: rgba(24, 24, 24, 0.9);
    height: calc(100% - 30px);
    padding-top: 0.5%;
    margin-top: -0.15%;
    font-size: 0.9rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
  
.terminal_promt {
    display: flex;
}
  
.terminal_promt span {
    margin-left: 4px;
}
  
.terminal_user {
    color: #7eda28;
    height: 100%;
}
  
.terminal_location {
    color: #4878c0;
    height: 100%;
}
  
.terminal_bling {
    color: #dddddd;
    height: 100%;
}

.terminal_content {
    font-family: 'Courier New', Courier, monospace;
    color: #dddddd;
    font-size: 1rem;
    line-break: normal;
}
  
.terminal_cursor {
    display: inline-block;
    height: 14px;
    width: 5px;
    margin-left: 10px;
    animation: curbl 1200ms linear infinite;
}
  
@keyframes curbl {
    
    0% {
      background: #ffffff;
    }
  
    49% {
      background: #ffffff;
    }
  
    60% {
      background: transparent;
    }
  
    99% {
      background: transparent;
    }
  
    100% {
      background: #ffffff;
    }
} 


.timeline {
    position: relative;
    margin: 0 auto;
    margin-bottom: 5%;
}
  
.timeline::after {
    content: '';
    position: absolute;
    width: 0.5%;
    background-color: #e9d7b7;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
}
  
.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}
  
.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: #e9d7b7;
    border: 4px solid #ffb47b;
    top: 15px;
    border-radius: 50%;
}
  
.left {
    left: 0;
}
  
.right {
    left: 50%;
}
  
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid #e7cc9e;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #e7cc9e;
    z-index: -1;
}
  

.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid #e7cc9e;
    border-width: 10px 10px 10px 0;
    border-color: transparent #e7cc9e transparent transparent;
    z-index: -1;
}
  
.right::after {
    left: -16px;
}
  
.project {
    padding: 20px 30px;
    background-color: #e7cc9e;
    position: relative;
    border-radius: 6px;
}

.project img {
    width: 100%;
}

.project p {
    text-align: center;
    font-size: 2vw;
}

.projectButtons {
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.contactOptions {
    display: flex;
    justify-content: space-between;
}

.option {
    width: 100%;
    text-align: center;
}


h1 {
    margin-top: 10%;
    font-family: 'Amatic SC', sans-serif;
    font-weight: 100;
    font-size: 4vw;
}

.projectDesc {
    float: left; width: 60%;
    padding-right: 5%;
}
  
.hardware {
    float: right;
    width: 50%;
    padding-left: 10%;
}

.hardware a {
    text-decoration: underline;
}


.hover-fx {
    font-size: 3rem;
    display: inline-block;
    cursor: pointer;
    margin: 15px;
    width: 100px;
    height: 100px;
    line-height: 110px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    color: #fff;
    background-color: #151515;
    transition: 300ms;
}
  
.hover-fx:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: '';
    box-sizing: content-box;
    box-shadow: 0 0 0 3px #b5b5b5;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 300ms;
}
  
.hover-fx:hover {
    background-color: #b5b5b5;
    color: rgb(42, 42, 42);
}
  
.hover-fx:hover:after {
    opacity: 1;
    transform: scale(1.15);
}

.contactBtn {
    margin-left: 5%;
    outline: none;
    text-align: center;
    border-radius: 40px;
    background: #fff;
    border: 2px solid #1ecd97;
    color: #1ecd97;
    letter-spacing: 1px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.25s ease;
    width: 35%;
    height: 15%;
}
.contactBtn:hover {
    color: white;
    background: #1ecd97;
}

.project .contactBtn {
    height: 50px;
    margin: 2%;

}

.aboutMeImage {
    cursor: pointer;
    transition: all 0.3s ease;
}
.aboutMeImage:hover {
    transform: scale(1.35);
}

.modal {
    display: none; 
    position: fixed; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto;
    padding-top: 4%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.8);
    z-index: 1000;
  }
  
.modal-content {
    margin: auto;
    display: block;
    margin-top: 0;
    height: 90%;
}
  
.modal-content {
    animation-name: zoom;
    animation-duration: 0.6s;
}
  
@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 4vw;
    font-weight: bold;
    transition: 0.3s;
}
  
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width:950px){
    .title p {
        font-size: 75%;
    }

    .contactBtn{
        height: 20%;
    } 

    .user{
        font-size: 0.9rem;
    }

    .terminal_content {
        font-size: 0.9rem;
    }
    
    .hover-fx {
        width: 80px;
        height: 80px;
        line-height: 90px;
        font-size: 2rem;
    }
    
}

@media only screen and (max-width:870px) {
    .user{
        font-size: 0.8rem;
    }
}

@media only screen and (max-width:800px) {
    .title p {
        font-size: 60%;
    }

    .user{
        font-size: 0.7rem;
    }

    .terminal_content {
        font-size: 0.75rem;
    }

    .terminal_cursor {
        height: 12px;
    }

    .right {
        width: 52.5%;
    }

    .left {
        padding-left: 3.25%;
    }
}

@media only screen and (max-width:730px) {
    .text {
        font-size: 2vw;
        width: 100%;
    }

    .contactBtn {
        font-size: 0.6rem;
    }

    .user {
        font-size: 0.6rem;
    }
}

@media only screen and (max-width:650px) {
    .header {
        visibility: visible!important;
    }
    
    .header img {
        width:50%;
    }
    
    .title{
        display: none;
    }

    .text {
        font-size: 2.2vw;
    }

    #aboutMe {
        margin-top: 15%;
    }

    .aboutMePicture img {
        margin-top: 15%;
        width: 60%;
    }
    
    .user {
        font-size: 0.5rem;
    }
    
    .btn {
        height: 9px;
        width: 9px;
    }

    .terminal_content {
        font-size: 0.6rem;
    }

    .terminal_cursor {
        height: 10px;
    }

    .hover-fx {
        width: 50px;
        height: 50px;
        line-height: 55px;
        font-size: 1rem;
    }
}

@media only screen and (max-width:580px) {
    .user {
        font-size: 0.4rem;
    }

    .terminal_container, .terminal_container_right{
        height: 70%;
        margin-top: 7%;
    }

    .terminal_content {
        font-size: 0.5rem;
    }

    .text {
        width: 110%;
        font-size: 3vw;
    }

    .aboutMePicture img {
        margin-top: 25%;
        margin-right: -25%;
        width: 75%;
    }
} 

@media only screen and (max-width: 480px) {
    .aboutMePicture img {
        margin-top: 15%;
        width: 90%;
    }

    .terminal_cursor {
        height: 7px;
    }

    .terminal_toolbar {
        padding-left: 3.5%;
        padding-right: 0;
    }

    .butt {
        margin-left: 0;
    }

    .btn {
        width: 6px;
        height: 6px;
    }
}

@media only screen and (max-width: 415px){
    .user {
        font-size: 0.3rem;
    }

    .terminal_content {
        font-size: 0.4rem;
    }

} 
/*
@media only screen and (max-width: 600px){
.header {
    visibility: visible;
}

.header img {
    width:60%;
}

.title{
    display: none;
}

.aboutMePicture {
    visibility: hidden;
}

.aboutMe p {
    font-size: large;
    width: 160%;
}

nav ul {
    display: flex;
}

#aboutMe {
    margin-top: 20%;
}

.aboutMe .contactBtn {
    width: 30%!important;
    height: auto!important;
    text-align: center;
}

.project button {
    width: 100%;
    left: 0;
}

.project .contactBtn {
    margin-left: 0;
}

.right {
    width: 55%;
}

.left {
    margin-left: -5%;
    width: 55%;
}
}

@media only screen and (max-width: 532px){
    .aboutMe .contactBtn {
        width: 35%!important;
    }
}

@media only screen and (max-width: 518px){
    .navButton {
        font-size: 12px;
        width: 75%;
    }

}

@media only screen and (max-width: 500px){

    .project img, .project p {
        display: none;
    }

    .aboutMe .contactBtn {
        width: 40%!important;
    }
    
    .project .contactBtn {
        margin-top: 15%;
        left: 5%;
        width: 80%;
        height: 10%;
    }
    

}

@media only screen and (max-width: 450px){
    .project{
        padding: 15px;
    }
}


@media only screen and (max-width: 350px){

    
    .aboutMe .contactBtn {
        width: 45%!important;
    }

    .right {
        width: 68%;
    }

    .left {
        width: 68%;
        margin-left: -18%;
    }
    
    .timeline::after {
width: 2.1%;
    }

}




  
@media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
}

/*.cloudWrap {
    position: fixed;
    top: 0;
    z-index: 7;
    margin-left: 47%;
}
  .cloudBase {
    top: 39px;
    background: #fff;			
    height: 36px;
    width: 80px;
    position: relative;
    border-radius: 100px;
  }
  
  .cloudBase div {
    background: #fff;
    height: 40px;
    width: 40px;
    position: relative;
    left: 3%;
    top: -23px;
    margin: 0 auto;
    border-radius: 100%;
  }
  
  .cloudBaseShadow {
    position: absolute;
    top: 55px;
    left:-8px;
    right:0;
    background: #5B7186;
    height: 36px;
    width: 80px;
    border-radius: 100px;
    filter: blur(15px);
    transform: scale(0.8);
    opacity: 0.6;
    z-index: 2;
  }
  
  .cloudBaseShadow div {
    background: #5B7186;
    left: 8px;
    height: 40px;
    width: 40px;
    position: relative;
    top: -30px;
    margin: 0 auto;
    border-radius: 100%;
  }
  

  .cloudBaseShadow div:after {
    right: -12px;
    top: -20px;
  }
  .cloudBaseShadow div:before {
    right: -92px;
    top: 33px;
  }
  
  
  @keyframes flash{
    0%, to { opacity: 1; }
    4% { opacity: 0; }
    6% { opacity: .6; }
    8% { opacity: .2; }
    10% { opacity: .9; }
  }
  
  @keyframes float{
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(5px); }
  }
  
  
  .lightningBolt {
    position: absolute;
    z-index: 3;
    height: 20px;
    margin: 0 auto;
    left: 30%;
    right: 0;
    bottom: -55px;
    animation: flash 3s infinite, float 3s ease-in-out infinite;
  }
  
  .lightningBolt:before,
  .lightningBolt:after {
    content: '';
    position: absolute;
  }
  .lightningBolt:before {
    width: 0;
    height: 0;
    left: -4px;
    top: 5px;
    border-style: solid;
    border-width: 0px 6.5px 12px 35px;
    border-color: transparent transparent #fbeb36 transparent;
    transform: rotate(-60deg);
  }
  .lightningBolt:after {
    width: 0;
    height: 0;
    left: 4px;
    top: -20px;
    border-style: solid;
    border-width: 0px 6.5px 12px 35px;
    border-color: transparent transparent #fbeb36 transparent;
    transform: rotate(-60deg) scaleY(-1) scaleX(-1);
  }*/